/* Flex */
.f {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frow {
  flex-direction: row;
}

.fcol {
  flex-direction: column;
}

/* Padding */

.p5 {
  padding: 5rem;
}

/* Sizing */

.image {
  height: 300px;
}